<ion-content [fullscreen]="true" class="background ">
  <ion-card class="image-card">
    <ion-card-content class="img-wrapper ion-no-padding">
      <ion-img   src="./assets/img/Location_Photo3.png" ></ion-img>
    </ion-card-content>
  </ion-card>
  <ion-card class="textcard">
    <ion-card-content>
      <div class="welcometitle">Welcome to</div>
      <div class="companyname-trav">Trav<span class="companyname-mate">Mate</span></div>
      <p class="welcomelogin">Sign In </p>
      <ion-text></ion-text>
    </ion-card-content>
  </ion-card>
  <div class="signupcontainer">
		<form action="#" method="post">
			<div class="signup-input-container">
			<i class="fa fa-envelope icon-signup"></i>
			<input class="input-field" type="text" placeholder="Email Address" name="email">
			</div>

			<div class="signup-input-container" id="show_hide_password">
			<i class="fa fa-key icon-signup"></i>
			<input class="input-field" type="password" placeholder="Password" name="psw" id="psw">
				<div class="input-group-addon">
					<a href="#"><i class="fa fa-eye-slash icon-eyetoggle" aria-hidden="true"></i></a>
				</div>
			</div>

			<div class="text-right">
				<a href="#" class="termslink">Forgot Password?</a>
			</div>

			<div class="text-center paddingtop30">
				<button class="btn btn-signup" type="submit">Sign In</button>
			</div>
		</form>
	</div>
  <div class="d-flex justify-content-center terms paddingtop20">
		Don't have an account? &nbsp; <a href="#" class="termslink">Sign Up</a>
	</div>
